/* src/POPOSList.css */
.POPOSList {
    /* width: calc(100% - 80px); */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr;	 */
    /* grid-gap: 2em; */
	width: 100%;
    /* max-width: 1200px; */
    margin: auto;
    /* padding: 2em; */
  }

.POPOSList form {
	display: flex;
	align-items: flex-start;
}

.POPOSList form input, .POPOSList form button {
	padding: 1em;
	margin: 0;
	border: 1px solid;
	font-size: 1rem;
}

.POPOSList form input {
	flex: 1;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.POPOSList form button {
	border-top-right-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
}

.search-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	border-bottom: 1px solid lightgray;
	width: 100vw;
	/* position: relative;
	left: calc(-50vw + 50%);
	box-sizing: border-box; */

}

.POPOSList-grid {
    /* width: calc(100% - 80px); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;	
    grid-gap: 2em;
    max-width: 1200px;
    margin: auto;
    padding: 2em;
}

/* Smaller screens and tablets */
/* @media only screen and (max-width: 768px) {
	.POPOSList {
		grid-template-columns: 1fr 1fr;
	}
} */

/* Small screens mobile */
@media only screen and (max-width: 480px) {
	.POPOSList-grid {
		grid-template-columns: 1fr;
	}

	.POPOSList form {
		display: flex;
		align-items: flex-start;
		margin: 1em 0 1em 1em;
	}

	.random-spaces {
		display: flex;
	}

	.search-button-label {
		display: none;
	}
}