/*  src/Header.css  */
.Header {
    /* box-sizing: border-box; */
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff;
  }

  .Header > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .Header h1 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-bottom: 0.05em;
  }

  .Header-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    /* when i say justify flex start, the subheader goes above the h1 ?*/
  }

  .Header-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .Header-Subheader {
    color: rgba(255, 255, 255, 0.75);  
  }

  .Header a {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
    
  }

  .Header .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }

  .RandomSpace {
    margin: 1em;
    padding: 0.75em;
    font-size: 18px;
  }
