.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 /* Default font size and line height for body text */
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  /* width: 100vw; */
  margin: auto;
}

.App .App-content {
  flex: 1 0 auto;
}

.Header {
  /* flex-shrink: 0; */
}

.Footer {
  flex-shrink: 0;
  max-width: 1200px;
  font-size: 0.75em;
  /* flex-grow: 2; */
  
}

/* Media query for screens smaller than 768px */
/* @media (max-width: 768px) {
  .App {
    font-size: 14px;
    line-height: 1.4;
  }
} */

/* Media query for screens smaller than 480px */
@media (max-width: 480px) {
  .App {
    font-size: 12px;
    line-height: 1.3;
  }
}



